@keyframes anim1 {
  0%{
      transform: translateY(300%);
      
  }
  100%{
      transform: translateY(-300%);
      
  }
}
@keyframes anim2 {
  0%{
      transform: translateX(300%);
  }
  100%{
      transform: translateX(-300%);
      
  }
}

@keyframes animBTN {
  0%{
      box-shadow:  0 0 10px 9px rgba(3,169,244,0.3);
  }
  33%{
      box-shadow:  0 0 10px 9px rgba(244,65,165,0.3);
      
  }
  66.9%{
      box-shadow:  0 0 10px 9px rgba(255,235,59,0.3);
      
  }
  100%{
      box-shadow:  0 0 10px 9px rgba(3,169,244,0.3);
  }
}

@keyframes a {
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
}

 @keyframes animBTN {
    0%{
        box-shadow:  0 0 10px 9px rgba(3,169,244,0.3);
    }
    33%{
        box-shadow:  0 0 10px 9px rgba(244,65,165,0.3);
        
    }
    66.9%{
        box-shadow:  0 0 10px 9px rgba(255,235,59,0.3);
        
    }
    100%{
        box-shadow:  0 0 10px 9px rgba(3,169,244,0.3);
    }
}

body {
  /* background-image: linear-gradient(to bottom right, rgb(114, 135, 254), rgb(130, 88, 186)); 渐变色背景 */
  margin: 0;
	padding: 0;
  min-height:100vh;
	font-family: sans-serif; /* 设置字体 */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 移除特定浏览器上的点击效果 */
}

div {
  box-sizing: border-box;
}
